<div class="race_wrapper" id="race<%= race.id %>">
  <h2> Race <%= index + 1 %> -
    <div class="map_name">
       <%= race.course.name %>
       <div class="course_image_container">
         <div class="course_image" style="background-image: url(<%= image_path("courses/#{race.course.name.parameterize.underscore}.jpg") %>)"></div>
       </div>
    </div>
  </h2>

  <div class="last_column">
    <div class="course_image" style="background-image: url(<%= image_path("courses/#{race.course.name.parameterize.underscore}.jpg") %>)"></div>
    <div class="chart_wrapper">
      <svg class="chart" data-id="<%= race.id %>" width="1000" height="500"></svg>
    </div>
  </div>
</div>

<script type="text/javascript">
  new Chart(<%= race.id %>, <%= raw race.to_chart_json.to_json %>);
</script>
