<!DOCTYPE html>
<html>
<head>
  <title>Kartistics</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript">
    var itemMapping = {
      <% Dir[Rails.root.join("app", "assets", "images", "items", "*.png").to_s].each do |item| %>
        '<%= File.basename(item, '.png') %>': '<%= asset_url("items/#{File.basename(item)}") %>',
      <% end %>
    }
  </script>
  <%= javascript_pack_tag 'event' %>
  <%= stylesheet_link_tag 'event' %>
</head>
<body>

</body>
</html>
